*.egg
*.egg-info
*~
blobs/
build/
dist/
bin/
lib/
local/
include/
tmp/
__pycache__/
*.fs*
pip-selfcheck.json
pyvenv.cfg
.idea/
/.env
/.env_details
.DS_Store
/profile_default/
/nbextensions/
/extensions/
*.pickle
/.ipynb_checkpoints/
/.zipline/data/
